.navbar{
    height: 50px;
    background-color: lightblue;
}

.accountDiv {
    float: right;
    height: 100%;
}

.btn-profile{
    background-color: lightblue;
    ;
    border: none;
    width: fit-content;
    height: -webkit-fill-available;
}

.navbar-userIcon{
    vertical-align: middle;
}

.dropdown {
    position: absolute;
    right: 0;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    background-color: lightblue;
    border-radius: 5px;
    margin-top: -5px;
    margin-right: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 8px 12px;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

