.navbar{
    height: 50px;
    background-color: lightblue;
}

.accountDiv {
    float: right;
    height: 100%;
}

.btn-profile{
    background-color: lightblue;
    border: none;
    width: fit-content;
    height: -webkit-fill-available;
}

.navbar-userIcon{
    vertical-align: middle;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    background-color: lightblue;
    border-radius: 5px;
    margin-top: -5px;
    margin-right: 10px;
}

.dropdown-item {
    padding: 8px 12px;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

 .navbar-list{
    display: grid;
}

.navbar-list-users{
    overflow : hidden;
    font-size: 1.2rem;
    display: flex;
    margin: 5px 0;
}

.navbar-list-users:hover{
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

/*
.navbar-list li{
  display: block;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow;
}

.navbar-list-users{
    color: black;
    position: absolute;
    display: flex;
    min-width: 0;
    overflow : hidden;
    font-size: 1.2rem;
} */


