body {
    width: 100%;
    margin: auto;
    background-color: white;
}

.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    background-color: rgb(24, 24, 27);
    border-radius: 5px;
}

.login-container h3 {
    font-size: 2.5rem;
    margin: 4.5rem 0 1.5rem 0;
    text-align: center;
}

.login-card{
    width: 100%;
    margin: auto;
}

.login-card-body{
    height: fit-content;
    width: 650px !important;
    border: 3px solid #E73E03;
    background-color: rgba(255, 255, 255, .9);
    padding: 0 16px 16px;
    margin: auto;
    display: grid;
}

.login-card-body label[first=ok] {
    margin: .3rem 0 3px 0;
}

.login-card-body label{
    font-size: 1rem !important;
    font-weight: bold !important;
    margin: .7rem 0 3px 0;
}

.login-card-body button{
    background-color: #f2f2f2;
    color: black;
    font-weight: bolder;
}

.login-card-body button:hover{
    background-color: #dce1e1;
    color: black;
}

.login-card-body .f-right{
    font-weight: 700;
    font-size: 1rem !important;
    text-transform: uppercase;
    margin: 0;
    border: 0;
    border-radius: 5px;
    width: 180px;
    height: 42px !important;
    float: right;
}

.login-card-body .login-error-banner {
    font-size: 1.4rem;
    text-align: center;
    color: red;
}

.login-block{
    width: 100%;
    margin: 7px 0;
}

.login-input-center .input{
    width: -webkit-fill-available;
    height: 40px;
    margin: auto;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 16px;
}

.togglePassword {
    float: right;
    margin-top: -36px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
    font-size: 1.6rem;
}

.forgotPassword {
    display: flex;
    align-items: flex-end;
}

.forgotPassword a{
    color: black;
    text-decoration: underline;
    text-underline-position: under;
    font-size: .875rem;
    width: 100%;
    text-align: right;
    float: right;
    margin: 7px 0 12px 0;
}

.login-bottom-container{
    display: grid;
}

.newUser{
    text-align: center;
    margin: 10px 0;
}

.newUser div{
    color: red !important;
    text-decoration: underline !important;
    cursor: pointer;
    display: inherit;
}

.guest{
    text-align: center;
}

.guest div{
    color: green !important;
    text-decoration: underline !important;
    cursor: pointer;
    display: inherit;
}