body {
    width: 100%;
    margin: auto;
    background-color: white;
}

.register-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    background-color: rgb(24, 24, 27);
    border-radius: 5px;
}

.register-container h3 {
    font-size: 2.5rem;
    margin: 4.5rem 0 1.5rem 0;
    text-align: center;
}

.register-card{
    width: 100%;
    margin: auto;
}

.register-card-body{
    height: fit-content;
    width: 650px !important;
    border: 3px solid #E73E03;
    background-color: rgba(255, 255, 255, .9);
    padding: 0 16px 16px;
    margin: auto;
    display: inline-grid;
}

.register-card-body label[first=ok] {
    margin: .3rem 0 3px 0;
}

.register-card-body label{
    font-size: 1rem !important;
    font-weight: bold !important;
    margin: .7rem 0 3px 0;
}

.register-back{
    font-weight: 700;
    font-size: 1rem !important;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    width: 180px;
    height: 42px !important;
    margin-top: 10px;
}

.register-card-body button:hover{
    background-color: #dce1e1;
    color: black;
}

.register-card-body .f-right{
    font-weight: 700;
    font-size: 1rem !important;
    text-transform: uppercase;
    margin-left: 30px;
    border: 0;
    border-radius: 5px;
    width: 180px;
    height: 42px !important;
    float: right;
    background-color: red;
    color: black;
    font-weight: bolder;
}

.register-card-body .register-error-banner {
    font-size: 1.4rem;
    text-align: center;
    color: red;
    margin-bottom: 15px;
}

.register-block{
    width: 100%;
    margin: 7px 0;
}

.register-card-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.register-card-row input{
    width: 100%;
    font-size: 1.3rem !important;
    margin-bottom: 30px;
    height: 55px;
}

.register-block-password label{
    display: block;
    font-size: 1rem !important;
    font-weight: bold !important;
}

.register-input-center .input{
    width: -webkit-fill-available;
    height: 40px;
    margin: auto;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 16px;
}

.togglePassword {
    float: right;
    margin-top: -36px;
    margin-right: 10px;
    position: relative;
    z-index: 0;
    font-size: 1.6rem;
}

.register-bottom-container{
    margin-top: 20px;
    display: block;
}

.blank{
    display: inline-block;
    width: 34px;
}