body {
    background-color: black;
}

.chat-window {
    width: 55%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    background-color: rgb(239, 238, 241);
    border-radius: 8px;
}

.chat-list-users {
    background-color: rgb(239, 238, 241);
    width: 25%;
    float: left;
}

.chat-list-users p {
    display: flex;
    font-size: 1.1rem;
    width: 75%;
    margin-top: 5px;
}

.chat-zone {
    width: 75%;
    float: right;
    background-color: rgb(239, 238, 241);
}

.chat-zone p {
    display: flex;
    font-size: 1.1rem;
    width: 75%;
    margin-top: 5px;
}

.chat-zone .chat-body {
    height: calc(750px - (45px + 70px));
    background: rgb(239, 238, 241); 
    position: relative;
}

.chat-zone .chat-body .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1.2rem;
}

.chat-zone .chat-body .message-container::-webkit-scrollbar {
    display: none;
}

.chat-zone .chat-body .message {
    height: auto;
    display: flex;
}

.chat-zone .chat-body .message .message-content {
    width: auto;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 5px 5px 5px 0;
    padding-right: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 1.3rem;
}

.message-content #author {
    font-weight: bold;
    margin-right: 2px;
}

.message-content #content {
    margin-left: 5px;
}

.chat-zone .chat-footer {
    border: 1px solid #263238;
    display: flex;
    height: 7vh;
}

.chat-zone .chat-footer input {
    height: 100%;
    flex: 85%;
    border: 0;
    padding: 0 0.7em;
    font-size: 1em;
    outline: none;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    border-right: none;
}

.chat-zone .chat-footer button {
    border: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex: 15%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 25px;
    color: lightgray;
}

.chat-zone .chat-footer button:hover {
    color: #43a047;
}

.hide {
    opacity: 0 !important;
}

.chat-selecticon {
    background-color: white;
    position: relative;
}

.chat-emojiPicker {
    float: right;
}

aside.emoji-picker-react {
    right: 0 !important;
    bottom: calc(7vh + 5px) !important;
    position: absolute !important;
}